*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    position: absolute;
    top:0;
    height: 50px;
}

nav ul {
   
     list-style: none;
     padding: 0;
}

nav ul li {

     display: inline-block;
     padding: 15px 20px;
} 

 nav ul li a {
    text-decoration: none;
    color: #353A47;
    font-family: Monday;
   font-size:28px;
   letter-spacing: 1px
}

@font-face{
    font-family: Monday;
    src: url(MondayBlues-Regular.ttf)
}

.home-area{
    background-image: url('./Imagenes/fondo2.jpg') ;
    -webkit-background-size: cover;
    background-size:cover;
    background-position: center center;
}
.wrapper{
    margin: 0 auto;
    width: 1170px;
   
}

.banner-area p{
    padding: 0 60% 0 0 
} 

/* Seccion sobre mi */

.container{
    background: #fff;
    width: 100%;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 8%;
    height: 100%;
    overflow: hidden;
    max-width: 100%;
}

#texTitle{
    display:flex;
    justify-content: center;
    font-family: Monday;
    color: azure;
    font-size: 320%;
    position: relative;
    top: 50%;
}

.line-effecAbout::after,.line-effecAbout::before{
    content: " ";
    position: absolute; 
    width: 30%;
    height: 3px;
    background-color: azure;
    top: 4.2em;
 }
 
 .line-effecAbout::before {
     width: 30%;
     right: 58%;
 }
 
 .line-effecAbout::after {
 
     left: 58%;
     width: 30%;
 }
 #aboutTex {
    top: 250%;
    left: 36%;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    font-size: 108%;
    color: azure;
    width: 39%;
    text-align: justify;
}
#img{
    width: 30%;
    position: absolute;
    left: 10%;
    top: 85%;
}
/* 
#aboutMe{
    font-family: Monday;
    color: azure;
    font-size: 320%;
}

#about-title {
    position: absolute;
    top: 0;
    width: 100%;
}

#about-content{
    display: flex;
    justify-content: center;
   
}

.line-effec::after,.line-effec::before{
   content: " ";
   position: absolute; 
   width: 30%;
   height: 3px;
   background-color: azure;
   top:1.8em;
}

.line-effec::before {
    width: 30%;
    right: 58%;
}

.line-effec::after {

    left: 58%;
    width: 30%;
} */
/* #aboutTex {
    top: 90%;
    left: 36%;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    font-size: 120%;
    color: azure;
    width: 45%;
    text-align: justify;
}

#img{
    width: 30%;
    position: absolute;
    left: 10%;
    top: 8%;
} */

/* Seccion de Habilidades */
/* 
#skillMe{
    font-family: Monday;
    color: #4BBFC3;
    font-size: 320%;
}

#skill-title {
    position: absolute;
    top: 0;
    width: 100%;
}

#skill-content{
    display: flex;
    justify-content: center;
   
}

.line-skill::after,.line-skill::before{
   content: " ";
   position: absolute; 
   width: 30%;
   height: 3px;
   background-color: #4BBFC3;
   top:1.8em;
}

.line-skill::before {
    width: 30%;
    right: 58%;
}

.line-skill::after {
    
    left: 58%;
    width: 30%;
} */
/* 
#icon{
    position: absolute;
    top: 213px;
    font-size: 84px;
    color:#353A47;
    

}

#icon2{
    position: absolute;
    top: 335px;
    font-size: 84px;
    color:#353A47
}

#skillText{
    position: absolute;
    top: 264px;
    left: 167px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 110%;
    color: #353A47;
    font-weight: 300;
    text-align: justify;
} */

/* Seccion Proyectos */
/* 
#imgCard{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.card {
    position: absolute;
    width: 18%;
    top: 151%;
    left: 27%;
    height: 128%;
    background: #4BBFC3;
    transform: translate(-50%,-50%);
}

.card .imgBx{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    transform-origin: bottom;
    transition: .5s;
    transform: translateY(0) rotateX(0deg);
    cursor: pointer;
}

.card:hover .imgBx{
    transform: translateY(-100%) rotateX(90deg)

}

.card .details{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    transform-origin: top;
    background: #4BBFC3;
    transition: .5s;
    box-sizing: border-box;
    padding: 20px;
 
    transform: translateY(100%) rotateX(-90deg);
    cursor: pointer;
} */

/* .card:hover .details{
    transform: translateY(0%) rotateX(0deg)
}

.card .details .contentCard{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0px;
    height: 100%;
    transform: translateY(-50%);
    padding: 20px;
}

.card .details .contentCard h2{
    text-align: center;
    color: azure;
}

#idP{
    margin-top: 10%;
}

#iconGithub,#iconBook{
    color: azure;
    padding: 20%;
    font-size: 25px;
}

.iconContent{
    display: flex;
    justify-content: flex-end
}

#cardVitrina{
    position: absolute;
    width: 18%;
    top: 151%;
    height: 128%;
    left: 645px;
    background: #353A47;
    transform: translate(-50%,-50%);
}

#cardSabores{
    position: absolute;
    width: 18%;
    top: 151%;
    height: 128%;
    left: 950px;
    background: #353A47;
    transform: translate(-50%,-50%);
} */

/* Seccion Contacto */


 @media only screen and (max-width:767px) {
    nav{
        display: none;
    } 
    #texTitle {
        top: 51%;
    }
    .line-effecAbout::after {
        left: 70%;
        width: 30%;
    }
    .line-effecAbout::before {
        width: 30%;
        right: 69%;
    }
    #texMe {
        top: 175%;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 78%;
        
    }
    #aboutTex {
        top: 227%;
        left: 20%;
        font-size: 120%;
        width: 65%;
        text-align: justify;
    }
    #img{
        display: none;
    }
} 
