*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#menu li {
    display:inline-block;
    color: #000;
  }
  
  /* #menu li:hover{
    color: #000;
  }
  */
  #menu li a{
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
    display:block;
    color: #FFFFFF;
    border-radius: 1em;
    padding: 0.8em;
  }
  #menu li a:hover{
    color: #D382C8;
    text-decoration: line-through;
  }
  #menu{
    position: fixed;  
    height: 4em;
    z-index: 70;
    width: 100%; 
    background-color: rgba(46, 18, 68, 0.1);
  }
  .navbar-default {
    background-color: rgba(46, 18, 68, 0.6);
    border: none;
  }
  .navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
  }
  
/* 
nav{
    position: absolute;
    top:0;
    height: 50px;
}

nav ul {
   
     list-style: none;
     padding: 0;
}

nav ul li {

     display: inline-block;
     padding: 15px 20px;
} 

 nav ul li a {
    text-decoration: none;
    color: #353A47;
    font-family: Monday;
   font-size:28px;
   letter-spacing: 1px
} */

@font-face{
    font-family: Monday;
    src: url(MondayBlues-Regular.ttf)
}

.home-area{
    background-image: url('./Imagenes/memphis-mini.png') ;
     /* -webkit-background-size: cover;
    background-size:cover; */
    /* background-position: center center; */
}
.wrapper{
    margin: 0 auto;
    width: 1170px;
   
}

.banner-area p{
    padding: 0 60% 0 0 
} 

/* Seccion sobre mi */

.container{
    background: #fff;
    width: 100%;
    padding: 5%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 8%;
    height: 100%;
    overflow: hidden;
    max-width: 100%;
}

#texTitle{
    display:flex;
    justify-content: center;
    font-family: Monday;
    color: azure;
    font-size: 320%;
    position: relative;
    top: 100%;
}

.line-effecAbout::after,.line-effecAbout::before,.line-effecContact::after,.line-effecContact::before{
    content: " ";
    position: absolute; 
    width: 30%;
    height: 3px;
    background-color: azure;
    top: 6.2em;
 }
 
 .line-effecAbout::before,.line-effecContact::before {
     width: 30%;
     right: 58%;
 }
 
 .line-effecAbout::after,.line-effecContact::after {
 
     left: 58%;
     width: 30%;
 }
 #aboutTex {
    top: 250%;
    left: 36%;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    font-size: 108%;
    color: azure;
    width: 39%;
    text-align: justify;
}
#img{
    width: 30%;
    position: absolute;
    left: 10%;
    top: 85%;
}
/* 
#aboutMe{
    font-family: Monday;
    color: azure;
    font-size: 320%;
}

#about-title {
    position: absolute;
    top: 0;
    width: 100%;
}

#about-content{
    display: flex;
    justify-content: center;
   
}

.line-effec::after,.line-effec::before{
   content: " ";
   position: absolute; 
   width: 30%;
   height: 3px;
   background-color: azure;
   top:1.8em;
}

.line-effec::before {
    width: 30%;
    right: 58%;
}

.line-effec::after {

    left: 58%;
    width: 30%;
} */
/* #aboutTex {
    top: 90%;
    left: 36%;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    font-size: 120%;
    color: azure;
    width: 45%;
    text-align: justify;
}

#img{
    width: 30%;
    position: absolute;
    left: 10%;
    top: 8%;
} */

/* Seccion de Habilidades */

#texTitleSkill,#textProjects{
    display:flex;
    justify-content: center;
    font-family: Monday;
    color: #4BBFC3;
    font-size: 320%;
    position: relative;
    top: 100%;
    -webkit-top: 53%; 
    -moz-top:53%;
}

.line-effecSkill::after,.line-effecSkill::before,.line-effecProject::after,.line-effecProject::before{
    content: " ";
    position: absolute; 
    width: 30%;
    height: 3px;
    background-color: #4BBFC3;
    top: 6.2em;
}

.line-effecSkill::before, .line-effecProject::before {
    width: 30%;
    right: 58%;
}

.line-effecSkill::after,.line-effecProject::after  {
    left: 58%;
    width: 30%;
}

#divIcon{
    display: flex;
    justify-content: center;
}

#icon {
    font-size: 564%;
    display: flex;
    top: 200px;
    left: 16%;
    /* margin-top: 214%; */
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    /* max-width: 550px; */
    width: 72%;
    /* margin: 1%; */
    /* padding: 145px 10px; */
    justify-content: center;
    align-content: space-around;
}
.iconClass{
    padding: 3%
}

/* #icon2{
    position: absolute;
    top: 335px;
    font-size: 84px;
    color:#353A47;
    text-align: center;
    width: 50%;
}

.iconClass{
    padding: 2%;
} */


/* 
#skillMe{
    font-family: Monday;
    color: #4BBFC3;
    font-size: 320%;
}

#skill-title {
    position: absolute;
    top: 0;
    width: 100%;
}

#skill-content{
    display: flex;
    justify-content: center;
   
}

.line-skill::after,.line-skill::before{
   content: " ";
   position: absolute; 
   width: 30%;
   height: 3px;
   background-color: #4BBFC3;
   top:1.8em;
}

.line-skill::before {
    width: 30%;
    right: 58%;
}

.line-skill::after {
    
    left: 58%;
    width: 30%;
} */
/* 
#icon{
    position: absolute;
    top: 213px;
    font-size: 84px;
    color:#353A47;
}

#icon2{
    position: absolute;
    top: 335px;
    font-size: 84px;
    color:#353A47
}

#skillText{
    position: absolute;
    top: 264px;
    left: 167px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 110%;
    color: #353A47;
    font-weight: 300;
    text-align: justify;
} */

/* Seccion Proyectos */
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .card{
    cursor: pointer;
    width: 253px;
    height: 430px;
    background-color: #FAFAFF;
    border: none;
    position: absolute;
    top:540%;
    left: 270px;
  }
  .card2{
    cursor: pointer;
    width: 253px;
    height: 430px;
    background-color: #FAFAFF;
    border: none;
    position: absolute;
    top:540%;
    left: 581px;
  }
  .card3{
    cursor: pointer;
    width: 253px;
    height: 430px;
    background-color: #FAFAFF;
    border: none;
    position: absolute;
    top:540%;
    left: 886px;
  }
  .front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
  }
  .front img{
    height: 60%;
      
  }
  .front{
    transform: perspective(600px) rotateY(0deg);
  }
  .back{
    background: #4BBFC3;
    height: 60%;
    transform: perspective(600px) rotateY(180deg);
  }
  .back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
  }
  .sm{
    margin: 20px 0;
  }
  .sm a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: azure;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%
  }
  .sm a:hover{
    background: #2c3e50;
    color: white;
  }
  .sm a i{
   font-size: 25px
  } 
  .card:hover> .front{
    transform: perspective(600px) rotateY(-180deg);
  }
  .card2:hover> .front{
    transform: perspective(600px) rotateY(-180deg);
  }
  .card3:hover> .front{
    transform: perspective(600px) rotateY(-180deg);
  }
  .card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
  }
  .card2:hover > .back{
    transform: perspective(600px) rotateY(0deg);
  }
  .card3:hover > .back{
    transform: perspective(600px) rotateY(0deg);
  }
  #titleProject{
      color: azure;
      font-size: 20px
  }
  #titleProjectVitrina{
    color: azure;
    margin-top: 7%;
    font-size: 20px
  }
/* Seccion Contacto */

#contactTex{
    display:flex;
    justify-content: center;
    font-family: Monday;
    color: azure;
    font-size: 320%;
    position: relative;
    top: 100%;
}
#iconContactMe{
    position: absolute;
    top:300%;
    font-size: 90px;
    width: 100%;
    text-align: center
  
}
#iconContactMe a{
    text-decoration:none;
    color: azure
}
#iconContact{
    margin: 1%
}


 @media only screen and (max-width:767px) {
     
    nav{
        display: none;
    } 
    #texTitle{
        top: 50%;
    }
   
    .line-effecAbout::after {
        left: 70%;
        width: 30%;
    }
    .line-effecAbout::before {
        width: 30%;
        right: 69%;
    }
    #texMe {
        top: 175%;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 78%;
        
    }
    #aboutTex {
        top: 227%;
        left: 20%;
        font-size: 120%;
        width: 65%;
        text-align: justify;
    }
    #img{
        display: none;
    }
    .line-effecAbout::after,.line-effecAbout::before,.line-effecContact::after,.line-effecContact::before,.line-effecSkill::after,.line-effecSkill::before,.line-effecProject::after,.line-effecProject::before{
        display:none
    }
    /* Seccion habilidades */

    #texTitleSkill,#textProjects{
        top:78%;        
    }

    .line-effecSkill::after,.line-effecSkill::before{
        top: 5.6em;
    }
    .line-effecSkill::after {
        left: 74%;
        width: 25%;
    }
    .line-effecSkill::before {
        width: 25%;
        right: 74%;
    }

    #icon {
        font-size: 564%;
        display: flex;
        top: 143px;
        left: 16%;
        position: absolute;
        flex-direction: row;
        flex-wrap: wrap;
        width: 72%;
        justify-content: center;
        align-content: space-around;
    }
    .iconClass{
        padding: 5%
    }
    .card {
        width: 223px;
        height: 425px;
        top: 461%;
        left: 191px;
    }
    #titleProject {
        
        margin-top: 14%;
    }
    .card2 {
        
        width: 222px;
        height: 430px;
        top: 824%;
        left: 191px;
    }

    .container {
       
        height: 214%;
        
    }

} 
@media only screen and (min-width:768px)and (max-width:1200px){
    #aboutTex {
        top: 225%;
      
    }
    .line-effecAbout::before {
        right: 58%;
    }
    .line-effecAbout::after {
        left: 58%;
        
    }
 
    

}
@media only screen and (min-width:1201px)and (max-width:1900px){
    #aboutTex {
        top: 220%;
      
    }
    .line-effecAbout::before {
        right: 57%;
    }
    .line-effecAbout::after {
        left: 57%;
        
    }

}
@media only screen and (min-width:1901px){
    #img{
        top:179%
    }
    #aboutTex   {
        top: 330%;
        width: 42%;
      
    }
    #texMe{
        font-size: 25px
    }
    #texTitle,#contactTex{
        top:104%;
        font-size: 500%
    }
    .line-effecAbout::before {
        right: 59%;
    }
    .line-effecAbout::after {
        left: 59%;
        
    }
    .line-effecAbout::after,.line-effecAbout::before,.line-effecContact::after,.line-effecContact::before{
        content: " ";
        position: absolute; 
        width: 30%;
        height: 3px;
        top: 10.2em;
     }

     #icon {
        font-size: 642%;
        top: 393px;
        left: 32%;
        width: 41%;
        justify-content: center;
        align-content: space-around;
    }

    .iconClass {
        padding: 5%;
    }

    #texTitleSkill,#textProjects {
        top: 190%;
    }
    .line-effecSkill::after, .line-effecSkill::before,.line-effecProject::after,.line-effecProject::before{
        top: 10.9em;
    }
    #iconContactMe {
       
        top: 368%;
        font-size: 151px;
       ;
    }
    .card,.card2,.card3{
        top:823%
    }
    .card{
        left: 519px;
    }
    .card2{
        left: 864px;
    }
    .card3{
        left: 1238px;
    }

}