*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body{
    background: url('fondo2.jpg') no-repeat ;
    background-size:100% 100vh;
   
}

.nav{
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}

nav ul {
 position:fixed;
  width: 50%;
  list-style: none;
  overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    color: #353A47;
    font-family: Monday;
  
    font-size:28px
}

 nav ul li a:hover{
   color: #F7EBE8
} 

.tittle{
    width: 100%;
    display: flex;
    justify-content:center; 
    align-items: center; 
    
}

@font-face{
    font-family: Monday;
    src: url(MondayBlues-Regular.ttf)
}

 #p{
    font-family: Monday;
    font-size: 93px;
    color: #353A47;
    margin-top: 10px;
    margin-left: 60px;
}
.book{
    /* display: flex;
    justify-content: flex-end;
    width: 93%; */
    /* height: 371px; */
    /* margin-top: -298px; */

    /* margin-bottom: -51px; */
    /* margin: 0px; */
    /* font-family: Monday;
    font-size: 39px;
    color: #353A47;  */
/* }  */

nav{
    position: absolute;
    top:0;
    height: 50px;
}

nav ul {
    /* position:fixed;
     width: 50%; */
     list-style: none;
     padding: 0;
}

nav ul li {
    /* position:fixed;
     width: 50%; */
     display: inline-block;
     padding: 15px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #353A47;
    font-family: Monday;
   font-size:28px;
   letter-spacing: 1px
}

@font-face{
    font-family: Monday;
    src: url(MondayBlues-Regular.ttf)
}

.home-area{
    background-image: url('./Imagenes/fondo2.jpg') ;
    -webkit-background-size: cover;
    background-size:cover;
    background-position: center center;
}
.wrapper{
    margin: 0 auto;
    width: 1170px;
   
}

.banner-area p{
    padding: 0 60% 0 0 
}

/* Seccion sobre mi */

#aboutMe{
    font-family: Monday;
    color: azure;
    font-size: 320%;
}

#about-title {
    position: absolute;
    top: 0;
    width: 100%;
}

#about-content{
    display: flex;
    justify-content: center;
   
}

.line-effec::after,.line-effec::before{
   content: " ";
   position: absolute; 
   width: 30%;
   height: 3px;
   background-color: azure;
   top:1.8em;
}

.line-effec::before {
    width: 30%;
    right: 58%;
}

.line-effec::after {
    /* left: -534px; */
    left: 58%;
    width: 30%;
}
#aboutTex {
    top: 90%;
    left: 36%;
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    font-size: 120%;
    color: azure;
    width: 45%;
    text-align: justify;
}

#img{
    width: 30%;
    position: absolute;
    left: 10%;
    top: 8%;
}

/* Seccion de Habilidades */

#skillMe{
    font-family: Monday;
    color: #4BBFC3;
    font-size: 320%;
}

#skill-title {
    position: absolute;
    top: 0;
    width: 100%;
}

#skill-content{
    display: flex;
    justify-content: center;
   
}

.line-skill::after,.line-skill::before{
   content: " ";
   position: absolute; 
   width: 30%;
   height: 3px;
   background-color: #4BBFC3;
   top:1.8em;
}

.line-skill::before {
    width: 30%;
    right: 58%;
}

.line-skill::after {
    /* left: -534px; */
    left: 58%;
    width: 30%;
}

#icon{
    position: absolute;
    top: 213px;
    font-size: 84px;
    color:#353A47;
    

}

#icon2{
    position: absolute;
    top: 335px;
    font-size: 84px;
    color:#353A47
}

#skillText{
    position: absolute;
    top: 264px;
    left: 167px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 110%;
    color: #353A47;
    font-weight: 300;
    text-align: justify;
}

/* Seccion Proyectos */

#imgCard{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.card {
    position: absolute;
    width: 18%;
    top: 151%;
    left: 27%;
    height: 128%;
    background: #4BBFC3;
    transform: translate(-50%,-50%);
}

.card .imgBx{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    transform-origin: bottom;
    transition: .5s;
    transform: translateY(0) rotateX(0deg);
    cursor: pointer;
}

.card:hover .imgBx{
    transform: translateY(-100%) rotateX(90deg)

}

.card .details{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    transform-origin: top;
    background: #4BBFC3;
    transition: .5s;
    box-sizing: border-box;
    padding: 20px;
    /* text-align: center; */
    transform: translateY(100%) rotateX(-90deg);
    cursor: pointer;
}

.card:hover .details{
    transform: translateY(0%) rotateX(0deg)
}

.card .details .contentCard{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0px;
    height: 100%;
    transform: translateY(-50%);
    padding: 20px;
}

.card .details .contentCard h2{
    text-align: center;
    color: azure;
}

#idP{
    margin-top: 10%;
}

#iconGithub,#iconBook{
    color: azure;
    padding: 20%;
    font-size: 25px;
}

.iconContent{
    display: flex;
    justify-content: flex-end
}

#cardVitrina{
    position: absolute;
    width: 18%;
    top: 151%;
    height: 128%;
    left: 645px;
    background: #353A47;
    transform: translate(-50%,-50%);
}

#cardSabores{
    position: absolute;
    width: 18%;
    top: 151%;
    height: 128%;
    left: 950px;
    background: #353A47;
    transform: translate(-50%,-50%);
}

/* Seccion Contacto */

#iconContactMe{
    position: absolute;
    top:150%
}

#iconContact{
    padding: 14px;
    color: azure;
    font-size: 80px
}

@media only screen and (min-width:768px) and (max-width:991px){

}
@media only screen and (max-width:767px) {
/* .wrapper{
        width: 90%;
    }  */
    /* nav{
        display: none;
    }  */
    #pp-nav.right {
       
        position: absolute;
        top: 48%;
        left: 335px;
    }

    /* seccion 2 */
    #img {
        display: none
    }
    /* .line-effec::before {
        width: 22%;
        right: 70%;
    }
    .line-effec::after{
        width: 22%;
        left: 70%;
    }
    .line-effec::after, .line-effec::before {
       
        top: 1.0em;
    }
    #aboutMe {
        margin-top: -40px;
    } */
    #icon {
        top: 217px;
        font-size: 58px;
        text-align: center;
    
    }
    #icon2 {
        top: 371px;
        font-size: 72px;

    }
    .skillmedia{
        font-size: 359%;
        position: absolute;
        top: -23px;
    }
    .line-media::after,.line-media::before{
        content: " ";
        position: absolute; 
        width: 30%;
        height: 3px;
        top:1.8em;
     }
     .line-media::after {
        /* left: -534px; */
        left: 108%;
        width: 48%;
    }
    .line-media::before {
        width: 48%;
        right: 106%;
    }
}